* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.f-roboto {
    font-family: 'Roboto', sans-serif;
}

#container {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #bebebe;
}

/* START NAVIGASI  */
.containerNav {
    width: 11%;
    padding: 2rem .5rem .5rem .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    
}
.Navs {
    display: flex;
    flex-direction: column;
}

.navLink {
    color: black;
    text-decoration: none;
    padding: .5rem;
    
}

.navLink:hover {
    background-color: black;
    cursor: pointer;
    color: white;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 1.2rem;
}

/* END NAVIGASI */

#Home {
    background-color: white;
    border: 2px solid gray;
    border-radius: 20px;
    width: 60%;
    padding: 1.5rem 2rem 2.5rem .5rem; 
    margin: 1rem .5rem;

}

#containerHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.inputSearch {
    width: 50%;
    height: max-content;
    background-color: #bebebe;
    padding: .5rem;
    border: 1px solid black;
    border-radius: 5px;
}

.storyCard {
  width: 95%;
  height: 60px;
  border: 1px solid black;
  border-radius: 100%;
  background-color: green;
  
  display: block;
}
.storyOrg {
  width: 10%;
  display: flex;
  flex-direction: column;
  margin: 0 .3rem;
}

.storyOrg > p {
  text-align: center;
}



#containerCardProduk {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cardProduk {
    width: 18%;
    margin: .4rem;
    height: 270px;
    border: 0 solid white;
    border-radius: 10px;
}

.cardProduk:hover {
  border: 2px solid blue;
  cursor: pointer;
}

.namaProduk {
    font-size: .8em;
    text-align: center;
}
.gambarProduk {
    width: 100%;
    height: 70%;
    border-top: 0px solid black;
    border-radius: 10px;
}


.infoProduk {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hargaProduk {
    font-weight: bold;
    margin: .2rem 0;
}

.kodeProduk {
    font-family: serif;
    font-size: .8em;
}

/* END PRODUK START LIST */


#containerList {
  width: 24%;
  background-color: white;
  margin: 1rem 0;
  border: 2px solid gray;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headerList {
    height: max-content;
    padding: .3rem .5rem;
    width: 100%;
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-around;
}


#buttonEndShift {
  padding: .3rem;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 20px;
}

.footerList {
  height: 25%;
  padding: .3rem .5rem;
  border-top: 1px solid black;
}


.infoList {
  
  padding: .2rem .3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}



.paymentButton {
  width: 100%;
  padding: .5rem 1rem;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
}

.containerMiddle {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cardList {
  display: flex;
  width: 94%;
  height: 100px;
  padding: 3px 5px;
  margin: 0 5px;
  justify-content: center;
  border: 1px solid black;
  align-items: center;
  border-radius: 10px;
}

.gambarList {
  border: 1px solid white;
  border-radius: 2px;
  width: 20%;
  height: 80%;
}

.infoCardList {
  display: flex;
  justify-content: space-between;
  margin: 7px 0;
}

.btnJumlahBarang {
  padding: 7px;
  color: red;
}


.ukuran {
  padding: 3px;
  background-color: #bebebe;
  border: none;
}

.containerCardList {
  padding: 5px;
  position: relative;
}

.tombolClose {
  position: absolute;
  padding: 3px;
  top: 0;
  left: 3px;
  background-color: red;
  border: 1px solid black;
  border-radius: 100%;
  color: white;
 
}

.tombolClose:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}